@if (isEditMode) {
  <section
    class="sticky flex h-20 justify-end gap-x-2 bg-itemsBgPrimary px-[5%] md:bg-[#141625]"
  >
    <div class="flex gap-x-2 self-center">
      <app-button
        [label]="'cancel'"
        [customStyle]="'bg-[#373B53]'"
        (buttonEvent)="discardForm()"
      />
      <app-button
        [label]="'save changes'"
        [customStyle]="'bg-purplePrimary'"
        (buttonEvent)="saveChanges()"
      />
    </div>
  </section>
} @else {
  <section
    class="sticky bottom-0 flex h-20 items-center justify-between bg-itemsBgPrimary px-[5%] md:bg-[#141625]"
  >
    <app-button
      [label]="'discard'"
      [customStyle]="'bg-btnBgPrimary'"
      (buttonEvent)="discardForm()"
    />
    <div class="flex gap-x-2">
      <app-button
        [label]="'Save as Draft'"
        [customStyle]="'bg-[#373B53]'"
        (buttonEvent)="saveAsDraft()"
      />
      <app-button
        [label]="'save & send'"
        [customStyle]="'bg-purplePrimary'"
        (buttonEvent)="createInvoice()"
      />
    </div>
  </section>
}
