@if (isEditMode) {
  <section
    class="sticky flex h-20 justify-end gap-x-2 bg-itemsBgPrimary px-[5%] md:bg-[#141625]"
  >
    <div class="flex self-center gap-x-2">
      <app-button
        [text]="'cancel'"
        class="rounded-full bg-[#373B53] px-2"
        (click)="discardForm()"
      />
      <app-button
        [text]="'save changes'"
        class="px-2 rounded-full bg-purplePrimary"
        (click)="saveChanges()"
      />
    </div>
  </section>
} @else {
  <section
    class="sticky bottom-0 flex h-20 items-center justify-between bg-itemsBgPrimary px-[5%] md:bg-[#141625]"
  >
    <app-button
      [text]="'discard'"
      class="px-2 rounded-full bg-btnBgPrimary"
      (click)="discardForm()"
    />
    <div class="flex gap-x-2">
      <app-button
        [text]="'Save as Draft'"
        class="rounded-full bg-[#373B53] px-2"
        (click)="saveAsDraft()"
      />
      <app-button
        [text]="'save & send'"
        class="px-2 rounded-full bg-purplePrimary"
        type="submit"
        (click)="createInvoice()"
      />
    </div>
  </section>
}
