$leagueSpartan: "League Spartan", sans-serif;
//font sizes
$fontXs: 13px;
$fontMd: 15px;
$fontLg: 24px;
$fontXl: 36px;

//letter spacing
$SpacingLg: "-0.1px";
$SpacingMd: "-0.25px";
$SpacingSm: "-0.75px";
