<div class="flex flex-col gap-y-1">
  <label [for]="id" class="capitalize text-[#888EB0]">{{ label }}</label>
  @if (readonly) {
    <input
      [id]="id"
      [formControl]="control"
      [type]="type"
      [placeholder]="placeholder"
      [readonly]="readonly"
      class="h-12 rounded-lg bg-transparent bg-none px-0 text-[15px] font-bold text-white outline-none"
    />
  } @else {
    <input
      [id]="id"
      [formControl]="control"
      [type]="type"
      [placeholder]="placeholder"
      class="h-12 rounded-lg bg-itemsBgPrimary px-5 text-[15px] font-bold text-white outline-none"
    />
  }
</div>
