<div class="p-6 mt-4 md:mb-10 md:p-8">
  <div class="md:flex md:justify-between">
    <div>
      <p>
        <span class="text-lighterPurple text-[15px] font-bold">#</span
        >{{ invoice.id }}
      </p>
      <span>{{ invoice.description }}</span>
    </div>
    <address class="my-6 md:my-0 md:text-end">
      {{ invoice.senderAddress.street }}<br />
      {{ invoice.senderAddress.city }}<br />
      {{ invoice.senderAddress.postCode }}<br />
      {{ invoice.senderAddress.country }}
    </address>
  </div>
  <article class="grid-cols-2 md:grid md:w-full">
    <div class="grid grid-cols-2">
      <div class="flex flex-col justify-between">
        <div>
          <span class="capitalize">invoice date</span>
          <p>{{ invoice.createdAt | date: "d MMM y" }}</p>
        </div>
        <div>
          <span class="capitalize">payment due</span>
          <p>{{ invoice.paymentDue | date: "d MMM y" }}</p>
        </div>
      </div>
      <div>
        <span class="capitalize">bill to</span>
        <p>{{ invoice.clientName }}</p>
        <address>
          {{ invoice.clientAddress.street }}<br />
          {{ invoice.clientAddress.city }}<br />
          {{ invoice.clientAddress.postCode }}<br />
          {{ invoice.clientAddress.country }}
        </address>
      </div>
    </div>
    <div class="my-6 md:my-0">
      <span class="capitalize">sent to</span>
      <p>{{ invoice.clientEmail }}</p>
    </div>
  </article>
  <div>
    <ul class="flex flex-col p-6 gap-y-4 rounded-t-xl bg-btnBgPrimary md:mt-10">
      <div class="hidden md:grid md:grid-cols-4">
        <span class="font-medium capitalize">item name</span>
        <span class="font-medium text-center uppercase">qty.</span>
        <span class="font-medium capitalize text-end">price</span>
        <span class="font-medium capitalize text-end">total</span>
      </div>
      @for (item of invoice.items; track invoice.id) {
        <li class="flex items-center justify-between md:hidden">
          <div>
            <p>{{ item.name }}</p>
            <p class="text-[#888EB0]">
              {{ item.quantity }} x {{ item.price | currency: "GBP" }}
            </p>
          </div>
          <p>{{ item.total | currency: "GBP" }}</p>
        </li>
        <li class="hidden md:grid md:grid-cols-4">
          <p>{{ item.name }}</p>
          <p class="text-center">{{ item.quantity }}</p>
          <p class="text-end">{{ item.price | currency: "GBP" }}</p>
          <p class="text-end">{{ item.total | currency: "GBP" }}</p>
        </li>
      }
    </ul>
    <div
      class="flex items-center justify-between rounded-b-xl bg-[#0C0E16] p-6"
    >
      <span class="font-medium text-white capitalize">amount due</span>
      <p class="text-2xl">{{ invoice.total | currency: "GBP" }}</p>
    </div>
  </div>
</div>
