<div
  [class.active]="dialogState"
  class="dialog fixed inset-0 z-20 h-full w-full"
>
  <div
    class="absolute left-1/2 top-1/2 w-[87%] max-w-[480px] -translate-x-1/2 -translate-y-1/2 overflow-hidden rounded-lg bg-itemsBgPrimary p-7 md:p-10"
  >
    <h2 class="text-2xl font-bold capitalize">confirm deletion</h2>
    <p class="mt-3 text-sm font-medium text-[#888EB0]">
      Are you sure you want to delete invoice #{{ invoiceId }}? This action
      cannot be undone.
    </p>
    <div class="mt-8 flex justify-end gap-x-4">
      <app-button
        [label]="'cancel'"
        [customStyle]="'bg-btnBgPrimary'"
        (buttonEvent)="cancelDeletion()"
      />
      <app-button
        [label]="'delete'"
        [customStyle]="'bg-redPrimary'"
        (buttonEvent)="confirmDeletion()"
      />
    </div>
  </div>
</div>
