<div [formGroup]="items.parent" class="mt-12">
  <div formArrayName="items">
    <h3 class="text-[18px] font-bold text-[#777F98]">Item List</h3>
    @for (item of items.controls; track $index) {
      <div class="mt-6 flex flex-wrap items-end justify-between gap-4">
        <app-input
          [id]="'itemName'"
          [label]="'item name'"
          [type]="'text'"
          [placeholder]="'Item name'"
          [control]="item.get('name')"
          class="w-[100%] md:w-[40%]"
        />
        <app-input
          [id]="'quantity'"
          [label]="'qty.'"
          [type]="'number'"
          [placeholder]="''"
          [control]="item.get('quantity')"
          (input)="updateTotal()"
          class="w-[20%] md:w-[10%]"
        />
        <app-input
          [id]="'price'"
          [label]="'Price'"
          [type]="'number'"
          [placeholder]="''"
          [control]="item.get('price')"
          (input)="updateTotal()"
          class="w-[30%] md:w-[15%]"
        />
        <app-input
          [id]="'total'"
          [label]="'Total'"
          [type]="'number'"
          [placeholder]="'Total'"
          [control]="item.get('total')"
          [readonly]="true"
          class="w-[20%] bg-transparent md:w-[15%]"
        />
        <app-button
          [text]="''"
          class="bg-[url('/assets/icon-delete.svg')] bg-center bg-no-repeat"
          (click)="removeItem($index)"
        />
      </div>
    }
    <app-button
      [text]="'+ add new item'"
      class="mt-10 block w-full rounded-full bg-btnBgPrimary text-center"
      (click)="addItem()"
    />
  </div>
</div>
