<ul
class="mt-8 flex flex-col gap-y-4 px-[5%] md:mt-14 lg:mx-auto lg:w-[730px] lg:px-0"
>
@if(isLoading) {
  <app-loader />
} @else if(invoicesCount !== 0) {
@for (invoice of invoices; track invoice.id) {
  <li class="flex flex-col">
    <a
      [routerLink]="['/invoice', invoice.id]"
      class="h-[134px] rounded-xl border-[1px] border-transparent bg-itemsBgPrimary bg-opacity-[0.07] p-6 hover:border-purplePrimary md:flex md:h-auto md:w-full md:items-center md:justify-between md:p-5"
    >
      <section class="flex justify-between md:w-[50%]">
        <div class="flex flex-col md:flex-row md:items-end md:gap-x-10">
          <p class="w-[70px]">
            <span class="text-[15px] font-bold text-purpleSecondary">#</span
            >{{ invoice.id }}
          </p>
          <span
            class="translate-y-4 capitalize text-[#DFE3FA] md:translate-y-0"
          >
            due {{ invoice.paymentDue | date: "d MMM y" }}
          </span>
        </div>
        <span class="font-medium">{{ invoice.clientName }}</span>
      </section>
      <section
        class="flex items-end justify-between md:w-[35%] md:items-center md:justify-end md:gap-x-[10%]"
      >
        <p class="whitespace-nowrap">
          {{ invoice.total | currency: "GBP" }}
        </p>
        <app-status-indicator [status]="invoice.status" />
        <img
          src="/assets/icon-arrow-right.svg"
          alt="icon-arrow-right"
          class="hidden md:block"
        />
      </section>
    </a>
  </li>
}
} @else {
  <app-no-invoices />
}
</ul>