<main class="my-8 md:my-[3.75rem] lg:ml-[6.4375rem]">
  <app-form />
  <div
    class="flex h-[2.75rem] items-center justify-between px-[5%] lg:mx-auto lg:w-[45.625rem] lg:px-0"
  >
    <section>
      <h1 class="capitalize">invoices</h1>
      <span>{{ invoicesCount }} total invoices</span>
    </section>
    <section class="flex items-center gap-x-4 md:gap-x-10">
      <app-drop-down (filterEvent)="filterByStatus($event)" />
      <app-button
        [text]="isMediumWidth() ? 'new invoice' : 'new'"
        [isNewInvoiceBtn]="true"
        class="pr-1 rounded-full bg-purplePrimary"
        (click)="showForm()"
      >
        <span
          class="grid h-8 w-8 items-center rounded-full bg-white bg-[url('/assets/icon-plus.svg')] bg-center bg-no-repeat"
        >
        </span>
      </app-button>
    </section>
  </div>
  <app-invoice-item />
</main>
