<div class="flex justify-between md:gap-x-2">
  <app-button
    [text]="'Edit'"
    [isNewInvoiceBtn]="false"
    class="px-4 rounded-full bg-btnBgPrimary"
    (click)="emitEditInvoice()"
  />
  <app-button
    [text]="'Delete'"
    [isNewInvoiceBtn]="false"
    class="px-6 rounded-full bg-redPrimary"
    (click)="deleteInvoice()"
  />
  @if (isPending) {
    <app-button
      [text]="'Mark as Paid'"
      [isNewInvoiceBtn]="false"
      class="px-6 rounded-full bg-purplePrimary"
    />
  }
</div>
