<main class="lg:ml-[103px]">
  <app-form />
  <a
    [routerLink]="['/']"
    class="mx-[5%] my-7 flex w-[90px] items-center gap-x-5 whitespace-nowrap font-bold capitalize text-white hover:text-purpleSecondary md:mt-12 lg:mx-auto lg:w-[730px]"
  >
    <span
      class="h-3 w-2 bg-[url('/assets/icon-arrow-left.svg')] bg-no-repeat"
    ></span>
    go back
  </a>
  @if (isLoading) {
    <app-loader />
  } @else {
    @if (invoice) {
      <section class="px-[5%] lg:mx-auto lg:w-[730px] lg:px-0">
        <div
          class="flex h-[91px] items-center justify-between rounded-[8px] bg-itemsBgPrimary px-6 md:h-[88px] md:px-8"
        >
          <div
            class="flex w-full items-center justify-between md:w-auto md:gap-x-6"
          >
            <p class="text-[13px] font-medium capitalize">status</p>
            <app-status-indicator [status]="invoice.status" />
          </div>
          <app-action-buttons
            [isInvoicePending]="invoice.status === 'pending' ? true : false"
            class="hidden md:block"
            (editInvoiceEvent)="loadInvoice()"
            (markAsPaidEvent)="markAsPaid()"
          />
        </div>
        <div class="rounded-[8px] bg-itemsBgPrimary">
          <app-invoice-info [invoice]="invoice" />
        </div>
      </section>
      <section class="mt-16 bg-itemsBgPrimary px-[5%] py-6 md:hidden">
        <app-action-buttons
          [isInvoicePending]="invoice.status === 'pending' ? true : false"
          (editInvoiceEvent)="loadInvoice()"
          (markAsPaidEvent)="markAsPaid()"
        />
      </section>
      <app-alert-dialog [invoiceId]="invoiceId" />
    }
  }
</main>
