@use "./app/partials/" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--background);
  &.no-scroll {
    overflow: hidden;
  }
}

p,
span,
address,
label,
input,
h1,
h2,
h3,
h3,
h5 {
  font-family: $leagueSpartan;
  font-style: normal;
  color: white;
}

h1 {
  font-size: $fontLg;
  letter-spacing: $SpacingSm;
  font-weight: bold;
  @media (min-width: 768px) {
    font-size: $fontXl;
  }
}

p {
  font-size: $fontMd;
  font-weight: bold;
  @media (min-width: 768px) {
    font-size: 17px;
  }
}

span,
label {
  font-size: $fontXs;
  letter-spacing: $SpacingLg;
  font-weight: 400;
  color: #dfe3fa;
  @media (min-width: 768px) {
    font-size: 15px;
  }
}

address {
  font-size: $fontXs;
  color: #dfe3fa;
  @media (min-width: 768px) {
    font-size: 15px;
  }
}

input {
  font-family: $leagueSpartan;
  letter-spacing: $SpacingMd;
  &::placeholder {
    color: #888eb0;
    font-weight: normal;
  }
}

.drop-down {
  @include fadeIn(flex);
}

.form,
.dialog {
  @include fadeIn(block);
}

img{
  display: block;
  max-width: 100%;
}